/* Colors */
/* Background color */
/* header */
/* side menu */
/* content */
/* content header menu */
/* fonts */
/* font sizes */
/* based on google design */
/* font colors */
/* Articles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}
body /deep/ sept-element-article {
  color: floralwhite;
}
body /deep/ paper-input.invalid {
  color: #f12c2a;
}
body /deep/ paper-input.invalid /deep/ #input,
body /deep/ paper-input.invalid /deep/ #labelText,
body /deep/ paper-input.invalid /deep/ #input[placeholder] {
  color: #f12c2a !important;
}
body /deep/ paper-input.invalid /deep/ #underlineHighlight.focusedColor {
  background-color: #f12c2a;
}
body /deep/ paper-input.invalid /deep/ #focusedUnderline,
body /deep/ paper-input.invalid /deep/ .unfocused-underline {
  background-color: #f12c2a;
}
body /deep/ paper-input.invalid /deep/ .focusedColor {
  color: #f12c2a;
}
body /deep/ paper-input.invalid /deep/ .cursor {
  color: #f12c2a;
}
