<link rel="import" href="../../../bower_components/core-layout/core-layout.html">
<link rel="import" href="../../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../../bower_components/core-collapse/core-collapse.html">
<link rel="import" href="../../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../../bower_components/core-icon/core-icon.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/core-animation/core-animation-group.html">
<link rel="import" href="../sept-view-login/sept-view-login.html">
<link rel="import" href="../sept-view-notifications-register/sept-view-notifications-register.html">

<polymer-element name="sept-notifications">
    <template>
        <link rel="stylesheet" type="text/css" href="sept-notifications.css" shim-shadowdom/>


        <core-animation id="iconAniHide" duration="400" delay="200" fill="forwards" direction="normal">
            <core-animation-keyframe offset="0">
                <core-animation-prop name="transform" value="scale(1)"></core-animation-prop>
                <core-animation-prop name="opacity" value="1"></core-animation-prop>
                <core-animation-prop name="visibility" value="visible"></core-animation-prop>
            </core-animation-keyframe>
            <core-animation-keyframe offset="0.4">
                <core-animation-prop name="transform" value="scale(2)"></core-animation-prop>
                <core-animation-prop name="opacity" value="1"></core-animation-prop>
            </core-animation-keyframe>
            <core-animation-keyframe offset="1">
                <core-animation-prop name="transform" value="scale(1)"></core-animation-prop>
                <core-animation-prop name="opacity" value="0"></core-animation-prop>
                <core-animation-prop name="visibility" value="hidden"></core-animation-prop>
            </core-animation-keyframe>
        </core-animation>
        <core-animation id="iconAniShow" duration="400" delay="600" fill="forwards" direction="normal">
            <core-animation-keyframe offset="0">
                <core-animation-prop name="transform" value="scale(0)"></core-animation-prop>
                <core-animation-prop name="opacity" value="0"></core-animation-prop>
                <core-animation-prop name="visibility" value="hidden"></core-animation-prop>
            </core-animation-keyframe>
            <core-animation-keyframe offset="0.6">
                <core-animation-prop name="transform" value="scale(2)"></core-animation-prop>
                <core-animation-prop name="opacity" value="1"></core-animation-prop>
            </core-animation-keyframe>
            <core-animation-keyframe offset="1">
                <core-animation-prop name="transform" value="scale(1)"></core-animation-prop>
                <core-animation-prop name="opacity" value="1"></core-animation-prop>
                <core-animation-prop name="visibility" value="visible"></core-animation-prop>
            </core-animation-keyframe>
        </core-animation>

        <core-collapse id="loginView">
            <sept-view-login id="loginViewElement" class="toolbar-view"></sept-view-login>
        </core-collapse>
        <core-collapse id="registerView">
            <sept-view-notifications-register id="registerViewElement" class="toolbar-view"></sept-view-notifications-register>
        </core-collapse>
        <core-toolbar>
            <!-- <paper-menu-button icon="account-circle" id="menuIcon">
                 <paper-item icon="drive-script" label="Zaloguj się" on-tap="{{openLoginView}}"></paper-item>
                 <paper-item icon="add-circle" label="Utwórz konto"></paper-item>
                 <paper-item icon="settings-power" label="Wyloguj się"></paper-item>
             </paper-menu-button>-->
            <core-icon id="menuIcon" icon="account-circle" on-tap="{{toggleAccountMenu}}"></core-icon>
            <core-icon id="cancelIcon" icon="cancel" on-tap="{{closeView}}"></core-icon>
            <core-collapse id="userMenu" horizontal="true">
                <paper-button hidden?="{{isLoggedIn}}" icon="drive-script" label="Zaloguj się" on-tap="{{openLoginView}}"></paper-button>
                <paper-button hidden?="{{isLoggedIn}}" icon="add-circle" label="Utwórz konto" on-tap="{{openRegisterView}}"></paper-button>
                <paper-button hidden?="{{!isLoggedIn}}" icon="settings-power" label="Wyloguj się" on-tap="{{userLogout}}"></paper-button>
            </core-collapse>

            <core-collapse id="userLogoutMsg" horizontal="true">
                <paper-button icon="check" label="Pomyślnie wylogowano"></paper-button>
            </core-collapse>
        </core-toolbar>
    </template>

    <script>
        Polymer('sept-notifications', {
            ready          : function () {
                this.addEventListener("notification-view-close", this.closeView);
                this.isLoggedIn = this.checkIsLoggedIn();
            },
            toggleAccountMenu     : function () {
                this.$.userMenu.opened = !this.$.userMenu.opened;
            },
            isLoggedIn     : false,
            openedView     : null,
            openLoginView  : function () {
                this.$.loginView.opened = true;
                this.$.loginViewElement.reopen();
                this.openedView = this.$.loginView;
                this.swapIcons(this.openedView === null);
                this.toggleAccountMenu();
            },
            openRegisterView  : function () {
                this.$.registerView.opened = true;
                this.$.registerViewElement.reopen();
                this.openedView = this.$.registerView;
                this.swapIcons(this.openedView === null);
                this.toggleAccountMenu();
            },
            closeView      : function () {
                if (this.openedView !== null)
                    this.openedView.opened = false;
                this.openedView = null;
                this.swapIcons(this.openedView === null);
                this.toggleAccountMenu();
                this.isLoggedIn = this.checkIsLoggedIn();
            },
            checkIsLoggedIn: function () {
                return septEngine.user.isLoggedIn();
            },
            userLogout : function () {
                septEngine.user.logout();
                this.toggleAccountMenu(); // close user menu
                this.$.userLogoutMsg.opened = true;
                var self = this;
                _.delay(function() {self.$.userLogoutMsg.opened = false;}, 3000);
                this.isLoggedIn = this.checkIsLoggedIn();
            },
            swapIcons      : function (viewClosed) {
                var iconShow = this.$.iconAniShow;
                var iconHide = this.$.iconAniHide;
                iconShow.target = (viewClosed
                        ) ? this.$.menuIcon : this.$.cancelIcon;
                iconHide.target = (viewClosed
                        ) ? this.$.cancelIcon : this.$.menuIcon;
                iconShow.play();
                iconHide.play();
            }
        });
    </script>
</polymer-element>