<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">

<polymer-element name="sept-article-view-bigtile" attributes="article">
    <template>
        <link rel="stylesheet" type="text/css" href="sept-article-view-bigtile.css" shim-shadowdom/>
        <div id="artWrapper" hero-id="hero-art-wrapper" hero>
            <div class="bg-image" hero-id="hero-art-img" hero></div>
            <div class="bg-gradient" hero-id="hero-art-gradient" hero></div>
            <section hero-id="hero-art-content" hero>
                <h1 hero-id="hero-art-title" hero>{{article.title}}</h1>
                <span id="author" hero-id="hero-art-author" hero>{{article.author}}</span>

                <p id="firstParagraph" hero-id="hero-art-1stparagraph" hero></p>
            </section>
            <paper-fab icon="open-in-new" on-tap="{{openArticle}}" hero></paper-fab>
        </div>
    </template>

    <script>
        Polymer('sept-article-view-bigtile', {
            ready         : function () {
            },
            articleChanged: function (oldVal, newVal) {
                _.bind(septEngine.article.commonUpdateArticle, this)();
            },
            openArticle   : function () {
                this.fire('article-state-change', {targetPage: 2}, this);
            }
        });
    </script>
</polymer-element>