/* Colors */
/* Background color */
/* header */
/* side menu */
/* content */
/* content header menu */
/* fonts */
/* font sizes */
/* based on google design */
/* font colors */
/* Articles */
:host {
  position: absolute;
}
div#artWrapper {
  z-index: 4;
  position: relative;
  display: block;
  /*border: 1px darkgray solid;*/
  height: 100%;
  overflow-y: hidden;
  flex: auto;
  align-self: flex-start;
  overflow: visible;
  background-color: #fff;
}
section {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
}
section h1 {
  z-index: 4;
  position: absolute;
  bottom: 3.2em;
  right: 1.8em;
  float: right;
  text-align: right;
  color: #ffe2db;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 300;
}
section span#author {
  z-index: 4;
  float: right;
  position: absolute;
  bottom: 0.5em;
  right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.87);
}
section p#firstParagraph {
  z-index: 1;
  padding: 1em;
  position: absolute;
  top: 42%;
  margin-top: 0.7em;
  height: 33%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.81);
  -webkit-column-count: 2;
  column-count: 2;
  overflow-x: hidden;
}
paper-fab {
  position: absolute;
  z-index: 20;
  top: 36%;
  right: 1em;
  font-family: 'Roboto', sans-serif;
  float: left;
  background-color: #ff6347;
}
.bg-image,
.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46%;
}
.bg-image {
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-color: #ff6347;
}
.bg-gradient {
  z-index: 2;
  background: -moz-linear-gradient(top, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 0) 41%, #262626 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(38, 38, 38, 0)), color-stop(41%, rgba(38, 38, 38, 0)), color-stop(100%, #262626));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 0) 41%, #262626 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 0) 41%, #262626 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 0) 41%, #262626 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 0) 41%, #262626 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00262626', endColorstr='#262626', GradientType=0);
  /* IE6-9 */
}
