/* Colors */
/* Background color */
/* header */
/* side menu */
/* content */
/* content header menu */
/* fonts */
/* font sizes */
/* based on google design */
/* font colors */
/* Articles */
core-animated-pages {
  height: 290px;
  width: 500px;
}
sept-article-view-tile,
sept-article-view-bigtile {
  min-width: 500px;
  width: 500px;
  max-width: 500px;
  height: 290px;
}
sept-article-view-bigtile {
  min-width: 1000px;
  max-width: 1000px;
}
sept-article-view-full {
  position: fixed !important;
  z-index: 6;
  left: 0% !important;
  right: 0% !important;
}
/* style shared between different states of article */
:host /deep/ #author {
  float: right;
  font-family: 'Roboto', 'Comic Sans MS';
  font-size: 22px;
  font-weight: 300 !important;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.81);
}
:host /deep/ h1 {
  float: right;
  text-align: right;
  color: #ffe2db;
  font-family: 'Roboto', 'Comic Sans MS';
  font-size: 38px;
  font-weight: 300;
}
:host /deep/ #firstParagraph,
:host /deep/ #restOfText {
  font-family: 'Roboto', 'Comic Sans MS';
  font-size: 18px;
  color: rgba(0, 0, 0, 0.81);
}
