/* Colors */
/* Background color */
/* header */
/* side menu */
/* content */
/* content header menu */
/* fonts */
/* font sizes */
/* based on google design */
/* font colors */
/* Articles */
:host {
  margin-top: 200px;
  position: relative;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
}
paper-button {
  background-color: #444444 !important;
  display: block;
  font-size: 22px;
}
paper-input {
  width: 340px;
  font-size: 22px;
  color: #ffffff;
}
paper-input /deep/ input {
  color: rgba(255, 255, 255, 0.87);
}
paper-input /deep/ #underlineHighlight.focusedColor {
  background-color: rgba(255, 255, 255, 0.87);
}
paper-input /deep/ #focusedUnderline {
  background-color: rgba(255, 255, 255, 0.87);
}
paper-input /deep/ .focusedColor {
  color: #ffffff;
}
paper-input /deep/ .cursor {
  color: rgba(255, 255, 255, 0.87);
}
paper-input /deep/ input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #dddddd;
}
paper-input /deep/ input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #dddddd;
  opacity: 1;
}
paper-input /deep/ input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #dddddd;
  opacity: 1;
}
paper-input /deep/ input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #dddddd;
}
div#loginForm {
  position: absolute;
  top: 0;
}
div#successMessage {
  visibility: hidden;
  position: absolute;
  top: 4em;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
div#successMessage h1 {
  font-size: 38px;
}
div#successMessage core-icon {
  width: 4em;
  height: 4em;
  display: inline-block;
}
