<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/core-icon/core-icon.html">
<link rel="import" href="../sept-util-request/sept-util-request.html">
<link rel="import" href="../sept-view-notifications-base/sept-view-notifications-base.html">
<link rel="import" href="../../../bower_components/core-animation/core-animation-group.html">

<polymer-element name="sept-view-login" extends="sept-view-notifications-base" >
    <template>
        <link rel="stylesheet" type="text/css" href="sept-view-login.css" shim-shadowdom/>
        <link rel="stylesheet" type="text/css" href="../sept-view-notifications-base/sept-view-notifications-base.css" shim-shadowdom/>
        <sept-util-request id="loginRequest" operation="RESTOperation.login"></sept-util-request>

        <div id="actionForm">
            <paper-input id="usernameInput" floatingLabel invalid?="{{loginError == true}}" on-input="{{clearInvalid}}"
            placeholder="NAZWA UŻYTKOWNIKA" value="{{$.loginRequest.bind.username}}"></paper-input>
            <paper-input id="passwordInput" floatingLabel invalid?="{{loginError == true}}" on-input="{{clearInvalid}}"
            placeholder="HASŁO" type="password" value="{{$.loginRequest.bind.password}}"></paper-input>
            <paper-button label="Zaloguj się" raisedButton on-tap="{{sendLoginRequest}}"></paper-button>
        </div>
        <div id="successMessage">
            <core-icon icon="check-box-outline"></core-icon><h1>{{message}}</h1>
        </div>
    </template>

    <script>
        Polymer('sept-view-login', {
            message             : '',
            formError          : false,
            sendLoginRequest    : function () {
                this.$.loginRequest.go();
            },
            processLoginResponse: function (oldval, newVal) {
                if (this.$.loginRequest.responseStatus.type === septEngine.domain.RESTResponseStatusType.fail) {
                    //this.message = "Nieudało się zalogować, \n powód: " + newVal.headers.status.message;
                    this.formError = true;
                    this.$.usernameInput.error = this.$.passwordInput.error = "Błędny login lub hasło.";
                }
                else {
                    septEngine.userSession = new septEngine.domain.session(newVal.uuid, newVal.user, newVal.created);
                    this.message = "Pomyślnie zalogowano";
                    this.playSuccessAni(); // super method
                    this.closeView();
                }
            },
            clearInvalid        : function () { this.formError = false; },
            observe             : {
                '$.loginRequest.response': 'processLoginResponse'
            }
        });
    </script>
</polymer-element>