<link rel="import" href="../../../bower_components/core-ajax/core-ajax.html">

<polymer-element name="sept-util-request"
                 attributes="body response method auto url params contentType handleAs bind withSession requestHelper">

    <template>
        <core-ajax id="ajax" method="{{method}}" contentType="{{contentType}}" handleAs="{{handleAs}}" params="{{params}}"
                   url="{{url}}" body="{{body}}"
                   response="{{response}}"></core-ajax>
    </template>

    <script>
        Polymer('sept-util-request', {
            /* Model is recreated always */
            ready          : function () {
                this.checkAutoGo();
            },
            go             : function () {
                if(this.method === "POST") {
                    this.model = this.initModel();
                    _.overwriteExisting(this.bind, this.model);
                    this.body = this.processRequestModel(this.model);
                    if(_.isObject(this.body))
                        this.body = JSON.stringify(this.body);
                }
                else if(this.method === "GET") {
                    _.overwriteExisting(this.bind, this.params);
                    this.params = this.processRequestModel(this.params);
                    if(_.isObject(this.params))
                        this.params = JSON.stringify(this.params);
                }
                this.$.ajax.go();
            },
            method         : "POST",
            contentType    : "application/json",
            handleAs       : "json",
            withSession    : true,
            model          : null,
            bind           : {}, //{reflect: true, value: null},
            bindChanged    : function() { this.checkAutoGo(); },
            response       : null,
            responseChanged: function (oldVal, newVal) { },
            /** Init model should be overriden in every instance of sept-util-request element */
            initModel      : function () { return {}; },

            /** When init model is changed, bind should be inited same way model is
             * cause otherwise bind level.
             * */
            initModelChanged: function () { this.bind = this.initModel(); },

            /** If model need some processing (like hashing password, this method should be overriden */
            processRequestModel: function (model) { return model; },

            /** Request helper should contain name of property in septCore.requestHelper object */
            requestHelperChanged: function (oldVal, newVal) {
                if (typeof septCore.requestHelper[newVal] !== 'undefined') {

                    if (typeof septCore.requestHelper[newVal].initModel !== 'undefined')
                        this.initModel = septCore.requestHelper[newVal].initModel;
                    if (typeof septCore.requestHelper[newVal].processRequestModel !== 'undefined')
                        this.processRequestModel = septCore.requestHelper[newVal].processRequestModel;
                }
                else
                    throw new Error("Request helper: " + newVal + " not available in septCore.requestHelper");
            },
            bodyChanged         : function () {
                if (this.auto === "true" || this.auto === "") this.go();
            },
            checkAutoGo         : function () { if (this.auto === "true" || this.auto === "") this.go(); }
        });

    </script>
</polymer-element>