<link rel="import" href="../../../bower_components/core-ajax/core-ajax.html">

<polymer-element name="sept-util-request"
                 attributes="response auto bind operation responseStatus">

    <template>
        <core-ajax id="ajax" method="POST" contentType="application/json" handleAs="json"
                   url="{{url}}" body="{{body}}"
                   response="{{responseRaw}}"></core-ajax>
    </template>

    <script>
        Polymer('sept-util-request', {
            ready      : function () {
                this.checkAutoGo();
            },
            go         : function () {
                this.model = this.initModel();
                _.overwriteExisting(this.bind, this.model);
                this.body = this.createRESTRequest(this.processRequestModel(this.model));
                if (_.isObject(this.body))
                    this.body = JSON.stringify(this.body);
                this.$.ajax.go();
            },
            url        : septEngine.globals.RESTfulServiceUrl,
            withSession: true,
            model      : null,
            bind       : {}, //{reflect: true, value: null},
            response   : null,

            /** Init model should be overriden in every instance of sept-util-request element */
            initModel       : function () { return {}; },
            /** When init model is changed, bind should be inited same way model is
             * cause otherwise bind level.
             * */
            initModelChanged: function () { this.bind = this.initModel(); },

            /** If model need some processing (like hashing password, this method should be overriden */
            processRequestModel: function (model) { return model; },

            createRESTRequest : function (model) {
                var message = new septEngine.domain.RESTRequest(
                        new septEngine.domain.RESTRequestHeaders(this.operation, septEngine.userSession),
                        model);
                return message;
            },
            bindChanged       : function () { this.checkAutoGo(); },
            /** operation value is the key for the requestHelper, because same operations have always same models and processing functions */
            operationChanged  : function (oldVal, newVal) {
                if (typeof septEngine.requestHelper[newVal] !== 'undefined') {

                    if (typeof septEngine.requestHelper[newVal].initModel !== 'undefined')
                        this.initModel = septEngine.requestHelper[newVal].initModel;
                    if (typeof septEngine.requestHelper[newVal].processRequestModel !== 'undefined')
                        this.processRequestModel = septEngine.requestHelper[newVal].processRequestModel;
                }
                else
                    console.warn("Request helper: " + newVal + " not available in septEngine.requestHelper");
            },
            responseRawChanged: function (oldVal, newVal) {
                if (newVal.headers.status.type == septEngine.domain.RESTResponseStatusType.success)
                    this.response = newVal.content;
                else {
                    this.response = newVal;
                }
                this.responseStatus = newVal.headers.status;
            },
            bodyChanged    : function () {
                if (this.auto === "true" || this.auto === "") this.go();
            },
            checkAutoGo       : function () { if (this.auto === "true" || this.auto === "") this.go(); }
        });

    </script>
</polymer-element>